.header {
  display: flex;
  justify-content: space-around;
  background-color: #5c8585;
  margin-bottom: 30px;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex: 2 0 auto;
  align-self: flex-end;
}

.header ul li {
  margin: 0 20px;
  padding: 3px 10px;
  background-color: teal;
  color: #fff;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header a:hover {
  text-decoration: none;
}

.title {
  font-weight: 800;
  justify-self: flex-start;
  padding-left: 30px;
  color: #f1f1f1;
}

.subtitle {
  display: none;
  color: #f1f1f1;
}
